<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<title></title>
</head>
<body>
<center>
	<h1> 
	<img src="{%static 'Demo_app/images/dgonus.png' %}" align="left" height="5%" width="5%">
	DevOps Basic WorkFlow 
	<img src="{%static 'Demo_app/images/kohli.png' %}" align="right" height="5%" width="5%"></h1><br><hr>
	<br><br><br>
	<!-- <h3><a href="{{MEDIA_URL}}{{file}}">Download File</a> -->
	<img src="{%static 'Demo_app/images/devops_workflow.png' %}" height="60%" width="60%">
</center>
</body>
</html>